{
    "extends": "./node_modules/eslint-config-naoned/index.js",
    "env": {
        "browser": true,
        "es6": true
    },
    "ecmaFeatures": {
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-console": 0
    }
}
